*{
    margin:0;
    padding:0;
}

body {
  padding-top: 20px;
  font-family: 微软雅黑;
}
#list_td {
  padding-top: 15px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.nav-justified > li > a {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  background-color: #e5e5e5; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
.history {
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 20px;
}
#ds-recent-visitors img {
  margin-top: 10px;
}
.navbar-form.navbar-left {
  margin-left: 300px;
}
.navbar-default .navbar-brand {
  font: bold 17px "ff-tisa-web-pro",Cambria,"Times New Roman",Georgia,Times,sans-serif;
}
.table.table-bordered td {
  padding-left:20px;
}
.footer {
  margin-top: 40px;
  background-color: #f4f4f4;
  font-size: 14px;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  padding-top: 10px;
  text-align: center;
  height: 40px;
}
.navbar-default {
    background-image: linear-gradient(to bottom,#FFF 0,rgba(255, 255, 255, 0.17) 100%);
}
.col-lg-12 a {
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 5px;
}
.col-lg a {
  float: left;
}
.table-bordered {
  table-layout: fixed;
}
#thdn {
  width: 600px;
}
.input{
  font-family:Verdana,SimSun;
  color:#8A8A8A;
  font-size:12px;
  width:300px;
  height:30px;
  outline:none;
  background:#FAFAFA;
  border:1px solid #999;
  padding-left:10px;

  /*设置圆角*/
  -webkit-border-radius:5px;
  border-radius:5px;

  /*设置内阴影*/
  -webkit-box-shadow:inset 1px 1px 10px #DDD;
  box-shadow:inset 1px 1px 10px #DDD;
}
.ed2k {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 60px;
}